
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2><b>Driver data</b></h2>
                            {{#if message}}
                                <h4><b>{{message}}</b></h4>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Contact</th>
                            <th>Address</th>
                            <th>Email</th>
                            <th>Picture</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>&nbsp;</td>
                                <td>{{driverData.name}}</td>
                                <td>{{driverData.gender}}</td>
                                <td>{{driverData.contact}}</td>
                                <td>{{driverData.address}}</td>
                                <td>{{driverData.account.email}}</td>
                                <td><img src="data:image/jpeg;base64,{{driverData.picture}}" style="max-width: 150px;"></td>
                                <td>
                                    <a href="/driver/editDriver/{{_id}}" class="edit"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                </td>
                            </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2><b>List of Journey</b></h2>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Name</th>
                                <th>Bus</th>
                                <th>Schedule</th>
                            </tr>
                        </thead>
                        <tbody>		
                            {{#each journeyList}}
                                <tr>
                                    <td></td>
                                    <td><h5>{{ name }}</h5></td>
                                    <td><h5>{{bus.plate}}</h5></td>
                                    <td><h5>{{schedule.name}}</h5></td>
                                    <td>
                                        <a href="/driver/journey/{{_id}}" class="edit" ><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                    </td>
                                </tr> 
                            {{/each}}
                        </tbody>
                    </table>
                </div>
        </div>
    </div>

