
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2><b>Supervisor Data</b></h2>
                            {{#if message}}
                                <h4><b>{{message}}</b></h4>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            
                            <th>Name</th>
                            <th>Contact</th>
                            <th>Address</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Email</th>
                            <th>Picture</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>{{supervisorData.name}}</td>
                                <td>{{supervisorData.contact}}</td>
                                <td>{{supervisorData.address}}</td>
                                <td>{{supervisorData.latitude}}</td>
                                <td>{{supervisorData.longitude}}</td>
                                <td>{{supervisorData.account.email}}</td>
                                <td><img src="data:image/jpeg;base64,{{supervisorData.picture}}" style="max-width: 150px;"></td>
                                <td>
                                    <a href="/supervisor/editSupervisor/{{supervisorData._id}}" class="edit"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                </td>
                            </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2><b>List of Student</b></h2>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Picture</th>
                            <th>RFID</th>
                            <th>Class</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each StudentList}}
                            <tr>
                                <td>&nbsp;</td>
                                <td>{{name}}</td>
                                <td>{{gender}}</td>
                                <td><img src="data:image/jpeg;base64,{{picture}}" style="max-width: 150px;"></td>
                                <td>{{RFID}}</td>
                                <td>{{class.name}}</td>
                                <td>
                                    <a href="/supervisor/editStudent/{{_id}}" class="edit"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                    <a href="/supervisor/student/{{_id}}" class="edit"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>

                                </td>
                                <td></td>
                            </tr>
                           
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    

