
    <div class="container-xl">
            <div class="table-responsive">
                {{#if message}}
                    <h4><b>{{message}}</b></h4>
                {{else}}
                    <div id="map" style="width: 1100px; height: 500px;"></div>      
                    <div class="table-wrapper"> 
                        <div class="table-title">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h2><b>Bus</b></h2>
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                    <th>Plate</th>
                                    <th>&nbsp;</th>
                                    <th>Seats</th>
                                    <th>Picture</th>
                                </tr>
                            </thead>
                            <tbody>		
                                <tr>
                                    <td></td>
                                    <td><h5>{{ dataJourney.bus.plate }}</h5></td>
                                    <td>&nbsp;</td>
                                    <td><h5>&nbsp;{{ dataJourney.bus.seats }}</h5></td>
                                    <td><img src="data:image/jpeg;base64,{{dataJourney.bus.picture}}" style="max-width: 150px;"></td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                    <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2><b>Driver data</b></h2>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Contact</th>
                                <th>Address</th>
                                <th>Email</th>
                                <th>Picture</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>{{dataJourney.driver.name}}</td>
                                    <td>{{dataJourney.driver.gender}}</td>
                                    <td>{{dataJourney.driver.contact}}</td>
                                    <td>{{dataJourney.driver.address}}</td>
                                    <td>{{driverAccount.email}}</td>
                                    <td><img src="data:image/jpeg;base64,{{dataJourney.driver.picture}}" style="max-width: 150px;"></td>
                                </tr>
                        </tbody>
                    </table>
                    </div>
                    <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2><b>Schedule data</b></h2>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Class</th>
                                <th>Teacher</th>
                                <th>Teacher's Image</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>{{scheduleData.name}}</td>
                                    <td><span class="birth-date"></span></td>
                                    <td>{{classData.name}}</td>
                                    <td>{{classData.teacher.name}}</td>
                                    <td><img src="data:image/jpeg;base64,{{classData.teacher.picture}}" style="max-width: 150px;"></td>
                                </tr>
                        </tbody>
                    </table>
                    </div>
                    <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2><b>Student List</b></h2>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            
                            <tr>
                                <th>&nbsp;</th>
                                <th>Name</th>
                                <th>Student's Image</th>
                                <th>Supervisor</th>
                                <th>Contact</th>
                                <th>Supervisor's Image</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each studentList}}
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>{{name}}</td>
                                    <td><img src="data:image/jpeg;base64,{{picture}}" style="max-width: 150px;"></td>
                                    <td>{{supervisor.name}}</td>
                                    <td>{{supervisor.contact}}</td>
                                    <td><img src="data:image/jpeg;base64,{{supervisor.picture}}" style="max-width: 150px;"></td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    </div>
                {{/if}}
            </div>        
        </div>
  
 

<script>
    var school_locations = [['Greenwich', 21.02397632928401, 105.79033476689675, 2]];
    var car_locations = [['{{ dataJourney.bus.plate }}', {{dataGPS.latitude}}, {{dataGPS.longitude}}, 1]];
    

    var map = L.map('map').setView([{{dataGPS.latitude}}, {{dataGPS.longitude}}], 16);
    mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';
    L.tileLayer(
        'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; ' + mapLink + ' Contributors',
            maxZoom: 20,
    }).addTo(map);

    for (var i = 0; i < school_locations.length; i++) {
        var schoolIcon = L.icon({
            iconUrl: 'https://www.reminiscencetheatrearchive.org.uk/wp-content/uploads/cms/LOGO_Greenwich_2-658x658.jpg',
            iconSize: [50, 50], // Size of the icon
            iconAnchor: [12, 41], // Point of the icon which will correspond to marker's location
            popupAnchor: [0, -41] // Point from which the popup should open relative to the iconAnchor
        });

        school_marker = new L.marker([school_locations[i][1], school_locations[i][2]], {icon: schoolIcon})
            .bindPopup(school_locations[i][0])
            .addTo(map);
    }

    {{#each studentList}}
    var student_locations = [
        ['{{name}} / {{supervisor.name}}', {{supervisor.latitude}}, {{supervisor.longitude}}, 3]
    ];
    for (var i = 0; i < student_locations.length; i++) {
        var studentIcon = L.icon({
            iconUrl: 'https://substantialclassrooms.org/wp-content/uploads/2018/03/graduate_blue-1024x1024.png',
            iconSize: [30, 30], // Size of the icon
            iconAnchor: [12, 40], // Point of the icon which will correspond to marker's location
            popupAnchor: [0, -41] // Point from which the popup should open relative to the iconAnchor
        });

        student_marker = new L.marker([student_locations[i][1], student_locations[i][2]], {icon: studentIcon})
            .bindPopup(student_locations[i][0])
            .addTo(map);
    }
    {{/each}}

    for (var i = 0; i < car_locations.length; i++) {
            var carIcon = L.icon({
                iconUrl: 'https://cdn-icons-png.flaticon.com/512/2940/2940710.png',
                iconSize: [50, 50], // Size of the icon
                iconAnchor: [12, 41], // Point of the icon which will correspond to marker's location
                popupAnchor: [0, -41] // Point from which the popup should open relative to the iconAnchor
            });

            car_marker = new L.marker([car_locations[i][1], car_locations[i][2]], {icon: carIcon})
                .bindPopup(car_locations[i][0])
                .addTo(map);
        }
</script>

    

  <script>
        // Format birth date and insert it into the corresponding <span> element
        var birthDate = new Date("{{scheduleData.date}}");
        var formattedBirthDate = birthDate.toLocaleDateString("en-US", {
            weekday: 'short',
            year: 'numeric',
            month: 'short',
            day: 'numeric'
        });
        document.querySelector('.birth-date').innerText = formattedBirthDate;
    </script> 

   
