
        <div class="container-xl">
            <div class="table-responsive">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2><b>List of Class</b></h2>
                                {{#if message}}
                                    <h4><b>{{message}}</b></h4>
                                {{/if}}
                            </div>
                            <div class="col-sm-6">
                                <a href="/class/add" class="btn btn-success" ><i class="material-icons">&#xE147;</i> <span>Add New Class</span></a>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th>Class</th>
                                <th>&nbsp;</th>
                                <th>Teacher</th>
                                <th>Picture</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>		
                            {{#each classList}}
                                <tr>
                                    <td></td>
                                    <td><h4>{{ name }}</h4></td>
                                    <td>&nbsp;</td>
                                    <td><h4>&nbsp;{{ teacher.name }}</h4></td>
                                    <td><img src="data:image/jpeg;base64,{{teacher.picture}}" style="max-width: 150px;"></td>
                                    <td>
                                        <a href="/class/edit/{{_id}}" class="edit" ><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                        <a href="/class/delete/{{_id}}" class="delete" ><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                    </td>
                                </tr> 
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>        
        </div>
